#quiz-questions {
    display:none;
}

#quiz-over {
    display:none;
}

#rightOrWrong {
    display:block;
    /* font-weight: bold;
    color: darkblue;
    font-size: 32px; */
}

.rightAnswer {
    font-weight: bold;
    color: blue;
    font-size: 32px;
}

.wrongAnswer {
    font-weight: bold;
    color: red;
    font-size: 32px;
}


.top-color {
    background-color: aqua;
}

.container-fluid {
    min-width: 100vw;
    min-height: 100vh;
    background-color: aqua;
}

/* id to style the added buttons */
#answer-choices {
    width: auto;
}
