#quiz-questions {
    display:block;
}

#quiz-over {
    display:block;
}

.top-color {
    background-color: aqua;
}

.container-fluid {
    min-width: 100vw;
    min-height: 100vh;
    background-color: aqua;
}

