html, .container, .container-fluid, body {
    background-color: aqua;
}

#high-score-list {
    font-weight: bold;
    color:black; 
    font-size: 32px;
}

#highScoreViewer {
    display:none;
}

#navViewer {
    display:block;
}

#quiz-questions {
    display:none;
}

#quiz-done {
    display:none;
}

#final-score {
    font-weight: bold;
    color: purple;
    font-size: 32px;
}

#rightOrWrong {
    display:block;
    /* font-weight: bold;
    color: darkblue;
    font-size: 32px; */
}

.rightAnswer {
    font-weight: bold;
    color: blue;
    font-size: 32px;
}

.wrongAnswer {
    font-weight: bold;
    color: red;
    font-size: 32px;
}

/* id to style the added buttons */
#answer-choices {
    width: auto;
}
